<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form method="POST">
            {% csrf_token %}
            <p><input type="text" name="username" placeholder="Usuario" required></p>
            <p></p><input type="password" name="password" placeholder="Contraseña" required></p>
            {% if errors.autenticación %}
              <div class="error">{{ errors.autenticación }}</div>
            {% endif %}
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>