{% extends "core/base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style_listaformularios.css' %}">
</head>
<body>
    <h1>Lista de Propietarios</h1>
    <div class="top-bar">
        <a class="btn-agregar-camiones" href="{% url 'ingresar_propietario' %}">Agregar Propietario</a>
        <form method="GET" action="{% url 'listar_propietarios' %}">
            <input class="input-buscar" type="text" name="q" placeholder="Buscar propietarios..." value="{{ query }}">
            <button class="btn-buscar" type="submit">Buscar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dierección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for propietario in page_obj %}
                <tr>
                    <td>{{ propietario.nombre }}</td>
                    <td>{{ propietario.apellidos }}</td>
                    <td>{{ propietario.direccion }}</td>
                    <td>{{ propietario.telefono_contacto }}</td>
                    <td>
                        <a href="{% url 'editar_propietario' propietario.id %}">Editar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay propietarios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}">Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a>
        {% endif %}
    
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Último</a>
        {% endif %}
    </div>
</body>
{% endblock %}