{% extends "core/base.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style_listaformularios.css' %}">
</head>
<div class="son">
    <h1>Lista de Formularios de Inspección</h1>
    <form method="GET" action="{% url 'lista_formularios' %}">
        <input class="input-buscar" type="text" name="q" placeholder="Buscar formularios..." value="{{ query }}">
        <button class="btn-buscar" type="submit">Buscar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Propietario</th>
                <th>Encuestador</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for formulario in page_obj %}
                <tr>
                    <td>{{ formulario.propietario.username }}</td>
                    <td>{{ formulario.encuestador.nombre }} {{ formulario.encuestador.apellidos }}</td>
                    <td>{{ formulario.fecha_creacion|date:"d/m/Y H:i" }}</td>
                    <td>
                        <a href="{% url 'ver_formulario' formulario.id %}">Ver Detalle</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay formularios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}">Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a>
        {% endif %}
    
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Último</a>
        {% endif %}
    </div>
</div>
{% endblock %}