{% extends "core/base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style_listaformularios.css' %}">
</head>
<body>
    <h1>Lista de Camiones</h1>
    <div class="top-bar">
        <a class="btn-agregar-camiones" href="{% url 'ingresar_camion' %}">Agregar Camión</a>
        <form method="GET" action="{% url 'lista_camiones' %}">
            <input class="input-buscar" type="text" name="q" placeholder="Buscar camiones..." value="{{ query }}">
            <button class="btn-buscar" type="submit">Buscar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Patente</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Tipo de Camión</th>
                <th>Marca</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for camion in page_obj %}
                <tr>
                    <td>{{ camion.patente }}</td>
                    <td>{{ camion.modelo }}</td>
                    <td>{{ camion.year }}</td>
                    <td>{{ camion.tipo_camion }}</td>
                    <td>{{ camion.marca }}</td>
                    <td>
                        <a href="{% url 'ver_camion' camion.id %}">Ver Detalle</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay camiones disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}">Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Anterior</a>
        {% endif %}
    
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">Último</a>
        {% endif %}
    </div>
</body>
{% endblock %}