{% extends "core/base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style_listacamiones.css' %}">
</head>
<body>
    <h1>Lista de Camiones</h1>
    <a href="{% url 'ingresar_camion' %}">Agregar Camión</a>
    <table>
        <thead>
            <tr>
                <th>Patente</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Tipo de Camión</th>
                <th>Marca</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for camion in camiones %}
                <tr>
                    <td>{{ camion.patente }}</td>
                    <td>{{ camion.modelo }}</td>
                    <td>{{ camion.year }}</td>
                    <td>{{ camion.tipo_camion }}</td>
                    <td>{{ camion.marca }}</td>
                    <td>
                        <a href="{% url 'ver_camion' camion.id %}">Ver Detalle</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay camiones disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}