/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.btn-cancelar {
    background-color: #dc3545;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #c82333;
}

.btn-cancelar:active {
    background-color: #a71d2a;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555555;
}

input[type="text"], 
input[type="number"],
input[type="email"],
input[type="password"]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button, .btn-cancelar {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* Responsividad */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }
    
    button {
        width: 100%;
        margin-top: 10px;
    }
    
    .btn-cancelar {
        width: 91.8%;
    }

    .buttons {
        flex-direction: column;
    }
}