:root {
    --primary: #007bff;
    --secundary: #006AFF;
    --light: #ffffff;
    --grey: #efefef;

}

*{  
    left: 0;

    /*
    outline: 1px solid red;
  */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0
}


.stat {
    border-right: 1px solid var(--grey);
}

.father{
    display: flex;
}

.sidebar-container{
    width: 18%; 
    height: 100vh; 
    position: fixed; /* Mantiene el sidebar siempre fijo */
    top: 0;
    left: 0;
    background-color: var(--primary);
    color: var(--light); 
    overflow-y: auto; /* Permite scroll si el contenido del sidebar es más grande */
    z-index: 10; 
}

.sidebar-container a{  
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    color: #ffffff;
    margin-bottom: 10px;
}
.sidebar-container a:hover {
    padding-left: 20px;
    color: var(--light) !important;
    text-decoration: underline;
}

.sidebar-container h2{
    margin-bottom: 24px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
}

.inputpos{
    border-radius: 4px;
}

.btnadd{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 3px;
    background-color: var(--primary);
    color: #ffffff;
    transition: 0.2s;
}

.btnadd:hover{
    background-color: var(--secundary);
    transition: 0.3s;
}

.btnchekout{
    height: 35px;
    width: 200px;
    margin-top: 10px;
    margin-right: -20px;
    border: none;
    border-radius: 3px;
    background-color: var(--primary);
    color: #ffffff;
    transition: 0.2s;
}

.btnchekout:hover{
    background-color: var(--secundary);
    transition: 0.3s;
}

.pages{
    padding-right: 10px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 60px;
}

.logo-container h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
    
}


.content{
    margin-left: 17%; 
    flex: 1;
    padding: 20px; 
    height: 100vh; 
}



.logout {
    border-radius: 25%;
    width: 40px;
    height: 38px;
    font-size: 24px;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--grey);
    color: var(--primary);
    transition: 0.2s;
}

.logout:hover {
    color: var(--grey);
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px;
}

.menu{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 18px;

}

.active{

    position: relative;
    padding: 10px;
    margin: 5px 0;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #ffffff;
}
  
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 0;
    background-color: #fff; /* Color del efecto */
    color: var(--primary);
    font-weight: bold;
}

.active.active:hover{
    color: var(--primary) !important;
}

.active.active::after {
    width: 80%;
    color: var(--primary);
}
  
.active.active {
    background-color: #ffffff; /* Cambia el color de fondo cuando está activo */
    width: 65%;
    height: 30%;
    border-radius: 10px;
    color: #003061;
}
