* {
    /*outline: 1px solid red;*/
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
h1, h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}
.form-section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}
.form-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
table th {
    background-color: #f2f2f2;
}
.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-button:hover {
    background-color: #45a049;
}

.login-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el texto dentro del contenedor */
}

.login-container h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-container form{
    flex-direction: column;
    align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    max-width: 280px;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007BFF; /* Color del borde al enfocar */
    outline: none;
}

.login-container button {
    width: 45%;
    max-width: 280px;
    padding: 10px;
    margin-top: 1px;
    background-color: #007BFF; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #7abaff; /* Color del botón al pasar el ratón */
}

.login-container button:active {
    background-color: #004085; /* Color al hacer clic */
}
